@model Magneto.Models.Mutant

<form method="post" asp-action="Scan">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Find Mutants</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-12">
                        <label asp-for="DNA"></label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12">
                        <input asp-for="DNA" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Scan DNA" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>