@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Magneto wants to recruit as many mutants as possible so he can fight the X-Men.
    </p>
    <p>
        You can detect if the human is a mutant based on the DNA sequence.
    </p>
       
    
</div>
